@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700italic&display=swap);
@import './null-style.css';

body,
html {
	height: 100%;
	font-family: Roboto;
}
body.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.top {
	padding: 12px 0 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.top__column1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.top__icon {
	margin-right: 7px;
}
.top__icon svg {
	width: 29px;
	height: 29px;
}
.top__text {
	margin-bottom: 3px;
	font-weight: 500;
	line-height: 16px;
}
.top__text-1 {
	color: #272727;
}
.top__text-2 {
	color: #0055b8;
}
.top__label {
	font-weight: 300;
	line-height: 16px;
	color: #272727;
}
.top__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 6px;
}
.top__row span {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #ffd600;
	text-shadow: 1px 1px 3px rgba(141, 110, 0, 0.25);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.top__text-3 {
	color: #00b007;
}
.bottom {
	background: #0055b8;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 23px 30px;
	border-radius: 5px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.bottom-2 {
	margin-top: 117px;
	position: relative;
	z-index: 2;
}
.bottom__text {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}
.bottom__text span {
	color: #ffd600;
}
.bottom__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	flex: 1 1 auto;
	justify-content: end;
}
.bottom__link {
	margin: 0 6.5px;
}
.bottom__link svg {
	width: 28px;
	height: 28px;
	fill: #fff;
}
.bottom__link:nth-child(2) svg {
	width: 25px;
	height: 25px;
}
.menu {
	width: 100%;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	line-height: 21px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}
.menu__link {
	margin-right: 34px;
	color: #fff;
	border: 2px solid transparent;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	padding: 0 3px;
}
.block1__container {
	padding: 150px 15px;
	position: relative;
}
.block1__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 50px;
}
.block1__label {
	font-size: 18px;
	line-height: 21px;
	color: #272727;
	margin-bottom: 50px;
}
.block1__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #272727;
	margin-bottom: 10px;
	max-width: 550px;
}
.block1__btn {
	font-size: 18px;
	line-height: 21px;
	-ms-flex-item-align: start;
	-ms-grid-row-align: start;
	align-self: start;
	color: #fff;
	margin-bottom: 30px;
	background: #0055b8;
	border-radius: 5px;
	padding: 24px 116px;
}
.block1__arrow {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	cursor: pointer;
	position: absolute;
	bottom: 70px;
	left: 15px;
}
.block1__arrow img {
	max-width: 100%;
}
.block1__left {
	margin-right: 9px;
}
.block1__left svg {
	width: 42px;
	height: 70px;
}
.block1__right svg {
	width: 70px;
	height: 70px;
}
.block1__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 10%;
	z-index: -1;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: right bottom;
	object-position: right bottom;
}
.block2__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.block2__column {
	background: #ffd600;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	text-align: center;
	border-radius: 5px;
	height: 300px;
	padding: 30px 30px 30px 48px;
}
.block2__column:nth-child(2) {
	background: #ffe040;
}
.block2__img {
	margin-bottom: 19px;
}
.block2__img img {
	max-width: 100%;
}
.block2__label {
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 21px;
	color: #272727;
}
.block2__text {
	text-align: left;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #272727;
}
.block2__form {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	position: relative;
	top: -60px;
	z-index: 1;
}
.form {
	padding: 25px 33px;
	background: #0055b8;
	border-radius: 5px;
}
.form-2 {
	max-width: 550px;
}
.form__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	margin-bottom: 29px;
}
.form input::-webkit-input-placeholder {
	font-weight: 300;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
}
.form input:-ms-input-placeholder {
	font-weight: 300;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
}
.form input::-ms-input-placeholder {
	font-weight: 300;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
}
.form input::-moz-placeholder {
	font-weight: 300;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
}
.form input::placeholder {
	font-weight: 300;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
}
.form__input {
	width: 100%;
	padding: 15px 20px;
	margin-bottom: 12px;
	background: #0055b8;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
}
.form__btn {
	font-size: 18px;
	line-height: 21px;
	color: #272727;
	padding: 17px 63px;
	background: #ffd600;
	border-radius: 5px;
	margin-bottom: 22px;
}
.form__row {
	position: relative;
}
.form__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	cursor: pointer;
}
.form__text::before {
	background: #fff;
	content: '';
	display: block;
	width: 26px;
	height: 26px;
	border: 1px solid #222;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	z-index: 1;
	border-radius: 3px;
}
.form__text::after {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/check.svg) no-repeat;
	background-size: 24px 24px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	z-index: 2;
	opacity: 0;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}
.form__checkbox {
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
}
.form__checkbox:checked + .form__text::after {
	opacity: 1;
}
.title {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #272727;
	position: relative;
	display: inline-block;
	padding-top: 16px;
}
.title::before {
	background: #ffd600;
	content: '';
	width: 50px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
	position: absolute;
	top: 0;
	height: 3px;
}
.text {
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #4d4d4d;
}
.block3 {
	text-align: center;
	padding-bottom: 70px;
}
.block3__title {
	margin-bottom: 11px;
}
.block3__text {
	margin-bottom: 10px;
}
.block3__arrow-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 42px;
	flex: 0 0 42px;
	cursor: pointer;
}
.block3__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.block3__row-block7 {
	display: block;
}
.block3__slider {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 25px;
}
.block3__column {
	-webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 28px 0 24px;
}
.block3__img {
	margin-bottom: 13px;
	min-height: 70px;
}
.block3__img img {
	max-width: 100%;
}
.block3__mini-title {
	font-size: 18px;
	line-height: 21px;
	color: #272727;
	margin-bottom: 5px;
	position: relative;
	min-height: 80px;
}
.block3__mini-title::after {
	background: #0a60c3;
	content: '';
	position: absolute;
	height: 2px;
	bottom: 12px;
	width: 25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.block3__old-price {
	line-height: 16px;
	-webkit-text-decoration-line: line-through;
	text-decoration-line: line-through;
	color: rgba(0, 0, 0, 0.25);
	margin-bottom: 3px;
}
.block3__price {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #0a60c3;
}
.block3__arrow-right {
	cursor: pointer;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 42px;
	flex: 0 0 42px;
}
.block4__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 45%;
	flex: 0 1 45%;
	position: relative;
	padding-bottom: 35%;
	margin-bottom: 30px;
}
.block4__img img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}
.block4__body {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 55%;
	flex: 0 1 55%;
	padding-left: 100px;
}
.block4__title {
	margin-bottom: 12px;
	max-width: 550px;
}
.block4__title::before {
	left: 0;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.block4__text {
	max-width: 540px;
	margin-bottom: 30px;
}
.block4__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 38px;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.block4__row.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.block4__mini-img {
	margin-right: 30px;
}
.block4__label {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000;
	margin-bottom: 5px;
}
.block4__text2 {
	font-weight: 300;
	line-height: 20px;
	color: #4d4d4d;
	max-width: 450px;
}
.block5 {
	margin: 21px 25px 0;
}
.block5__column {
	text-align: left;
}
.block5__img {
	margin-bottom: 15px;
}
.block5__img img {
	max-width: 100%;
}
.block5__name {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000;
}
.block5__label {
	font-size: 18px;
	line-height: 21px;
	color: #000;
}
.block6 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 70px;
}
.block6__body {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 55%;
	flex: 0 1 55%;
	margin-right: 40px;
	margin-left: 13%;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.block6__body.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.block6__title {
	margin-bottom: 20px;
}
.block6__title::before {
	right: 0;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.block6__text {
	margin-bottom: 34px;
}
.block6__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.block6__painting img {
	max-width: 100%;
}
.block6__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 45%;
	flex: 0 1 45%;
	position: relative;
	padding-bottom: 31%;
}
.block6__img img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}
.block6__btn {
	padding: 24px 85px;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	background: #0055b8;
	border-radius: 5px;
	margin-left: 36px;
}
.block7 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -20px;
}
.block7__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
	margin: 15px 20px 0;
	text-align: left;
}
.block7__img {
	position: relative;
	padding-bottom: 70%;
	margin-bottom: 10px;
	overflow: hidden;
}
.block7__img img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.block7__btn {
	display: inline-block;
	margin-top: 40px;
	padding: 24px 76px;
	border: 2px solid #0055b8;
	border-radius: 5px;
	font-size: 18px;
	line-height: 21px;
	color: #4d4d4d;
}
.block9 {
	padding: 250px 0 0 0;
	position: relative;
	margin-bottom: -3px;
}
.block9__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	-o-object-fit: contain;
	object-fit: contain;
	z-index: -1;
	-o-object-position: right bottom;
	object-position: right bottom;
}
.footer {
	background: #fff;
	padding-top: 66px;
	position: relative;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -33px;
	padding-bottom: 18px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.footer__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 23.333%;
	flex: 0 1 23.333%;
	margin: 0 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.footer__column:nth-child(1) {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 30%;
	flex: 0 1 30%;
}
.footer__number {
	font-size: 30px;
	line-height: 35px;
	color: #000;
	text-align: right;
	display: block;
}
.footer__call {
	font-size: 18px;
	line-height: 21px;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	color: #000;
	margin-bottom: 33px;
	text-align: right;
	display: block;
}
.footer__mini-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 9px;
}
.footer__mini-row img {
	max-width: 100%;
	margin-right: 12px;
}
.footer__mail-link {
	font-size: 18px;
	line-height: 21px;
	color: #000;
}
.footer__mail-link-1 {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}
.footer__copy {
	line-height: 16px;
	margin-top: 13px;
	color: rgba(0, 0, 0, 0.3);
}
.footer__title {
	font-size: 30px;
	line-height: 35px;
	color: #000;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 35px;
	flex: 0 1 35px;
	margin-bottom: 17px;
}
.footer__link {
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #000;
	margin-bottom: 8px;
	display: inline-block;
	border: 2px solid transparent;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	border-radius: 3px;
	padding: 0 3px;
}
.footer__link-2 {
	margin-bottom: 16px;
}
.footer__text {
	text-align: center;
	padding: 22px 0 30px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.3);
}
.block3__arrow-left svg,
.block3__arrow-right svg {
	width: 42px;
	height: 49px;
}
@media (min-width: 769px) {
	.menu__link:hover {
		border: 2px solid #fff;
		border-radius: 3px;
	}
	.block7__img:hover img {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.footer__link:hover {
		border: 2px solid #0055b8;
	}
	.btn {
		overflow: hidden;
		position: relative;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	.btn::before {
		content: '';
		position: absolute;
		top: 0;
		left: -110%;
		width: 100%;
		height: 100%;
		background: -webkit-gradient(
			linear,
			left top,
			right top,
			from(transparent),
			color-stop(#fff),
			to(transparent)
		);
		background: -o-linear-gradient(left, transparent, #fff, transparent);
		background: linear-gradient(90deg, transparent, #fff, transparent);
		-webkit-transform: skewX(-40deg);
		-ms-transform: skewX(-40deg);
		transform: skewX(-40deg);
	}
	.btn:hover {
		-webkit-box-shadow: 0 0 30px #fff;
		box-shadow: 0 0 30px #fff;
	}
	.btn:hover::before {
		left: 110%;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	.btn_blue::before {
		background: -webkit-gradient(
			linear,
			left top,
			right top,
			from(transparent),
			color-stop(#0055b8),
			to(transparent)
		);
		background: -o-linear-gradient(left, transparent, #0055b8, transparent);
		background: linear-gradient(90deg, transparent, #0055b8, transparent);
	}
	.btn_blue:hover {
		-webkit-box-shadow: 0 0 30px #0055b8;
		box-shadow: 0 0 30px #0055b8;
	}
}
@media (min-width: 1024px) {
	.block4 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.block9 {
		margin-bottom: -36px;
	}
}
@media (min-width: 1025px) {
	.bottom__text {
		display: none;
	}
}
@media (max-width: 1439px) {
	.bottom-2 {
		margin-top: 30px;
	}
	.block4__body {
		padding: 20px 15px 20px 30px;
	}
	.block9 {
		padding: 30px 0;
	}
	.block9__bg img {
		display: none;
	}
	.form-2 {
		max-width: 100%;
	}
	.form-2 .block2__form {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		top: 0;
		z-index: 1;
		border: 1px solid #000;
	}
}
@media (max-width: 1439) {
	.block1 {
		padding: 0 0 70px;
	}
}
@media (max-width: 1400px) {
	.block6__body {
		margin-left: 7%;
	}
}
@media (max-width: 1024px) {
	.top {
		display: none;
	}
	.bottom {
		border-radius: 0;
		margin: 0 -15px;
	}
	.block2__row {
		margin: 0 -15px;
	}
}
@media (max-width: 1023px) {
	.block1__container {
		padding: 100px 15px;
	}
	.block1__bg img {
		right: 0;
		top: 20%;
	}
	.block2__column {
		display: none;
	}
	.block2__form {
		top: 0;
	}
	.form__btn {
		width: 100%;
	}
	.block4__body {
		padding: 30px 15px;
	}
	.block4__title {
		max-width: 100%;
	}
	.block4__text {
		max-width: 100%;
	}
	.block4__text2 {
		max-width: 100%;
	}
	.block6__btn {
		padding: 20px 45px;
		margin-left: 30px;
	}
	.footer {
		padding-top: 0;
	}
	.footer__row {
		margin: 0 -10px;
	}
	.footer__column {
		margin: 0 10px;
	}
	.footer__number {
		font-size: 20px;
		line-height: 20px;
	}
	.footer__title {
		font-size: 26px;
		line-height: 26px;
	}
}
@media (max-width: 900px) {
	.menu__link {
		margin: 0 7px;
	}
}
@media (max-width: 768px) {
	.block4__img {
		padding-bottom: 60%;
	}
}
@media (max-width: 767px) {
	.bottom__socials {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: fixed;
		width: 30px;
		height: 18px;
		top: 24px;
		right: 15px;
	}
	.menu__icon span,
	.menu__icon::after,
	.menu__icon::before {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: #ffd600;
	}
	.menu__icon::after,
	.menu__icon::before {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		-webkit-transform: scale(1) translateY(-50%);
		-ms-transform: scale(1) translateY(-50%);
		transform: scale(1) translateY(-50%);
	}
	.menu__icon.active span {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	.menu__icon.active::before {
		top: 50%;
		-webkit-transform: rotate(-45deg) translateY(-50%);
		-ms-transform: rotate(-45deg) translateY(-50%);
		transform: rotate(-45deg) translateY(-50%);
	}
	.menu__icon.active::after {
		bottom: 50%;
		-webkit-transform: rotate(45deg) translateY(50%);
		-ms-transform: rotate(45deg) translateY(50%);
		transform: rotate(45deg) translateY(50%);
	}
	.menu__list {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 60px 30px 30px 30px;
		-webkit-transition: right 0.3s ease 0s;
		-o-transition: right 0.3s ease 0s;
		transition: right 0.3s ease 0s;
		overflow: auto;
		display: block;
		text-align: right;
		font-size: 34px;
		z-index: 4;
	}
	.menu__list li {
		padding: 20px 0;
	}
	.menu__list.active {
		right: 0;
	}
	.block1__container {
		padding: 50px 15px;
	}
	.block1__label {
		max-width: 200px;
	}
	.block1__title {
		font-size: 30px;
		line-height: 35px;
	}
	.block1__btn {
		padding: 20px 50px;
	}
	.block1__arrow {
		bottom: 0;
		left: 0;
	}
	.block1__arrow {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-bottom: 45px;
		margin-left: 15px;
	}
	.block1__left svg {
		width: 30px;
		height: 50px;
	}
	.block1__right svg {
		width: 50px;
		height: 50px;
	}
	.title {
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 20px;
	}
	.title::before {
		width: 50px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
		position: absolute;
		top: 0;
		height: 3px;
	}
	.block3 {
		padding-bottom: 10px;
	}
	.block6 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.block6__body {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		padding: 0 15px;
		margin: 0;
	}
	.block6__title {
		margin-bottom: 0;
	}
	.block6__img {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		padding-bottom: 80%;
	}
	.block7 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.block7__column {
		margin-bottom: 15px;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0;
	}
	.footer__column {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		margin: 0;
	}
	.footer__column:nth-child(1) {
		margin-bottom: 20px;
	}
	.footer__number {
		-moz-text-align-last: left;
		text-align-last: left;
	}
	.footer__call {
		-moz-text-align-last: left;
		text-align-last: left;
		margin-bottom: 10px;
	}
	.footer__title {
		margin-bottom: 0;
	}
	.footer__link {
		line-height: 18px;
		margin-bottom: 4px;
	}
	.footer__link-2 {
		margin-bottom: 0;
	}
	.spoiler__title {
		position: relative;
	}
	.spoiler__title::after,
	.spoiler__title::before {
		content: '';
		width: 20px;
		height: 1px;
		background-color: #000;
		position: absolute;
		right: 10px;
		top: 20px;
		-webkit-transition: -webkit-transform 0.3s ease 0s;
		transition: -webkit-transform 0.3s ease 0s;
		-o-transition: transform 0.3s ease 0s;
		transition: transform 0.3s ease 0s;
		transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	}
	.spoiler__title::after {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.spoiler__title.active::after {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
}
@media (max-width: 424px) {
	.block4__mini-img {
		margin-right: 15px;
	}
	.block4__mini-img img {
		width: 50px;
	}
}
@media (max-width: 375px) {
	.block3__arrow-left {
		display: none;
	}
	.block3__arrow-right {
		display: none;
	}
	.block9 {
		margin: 0 -15px;
	}
}
@media (max-width: 374px) {
	.form__text {
		font-size: 15px;
	}
	.block6__btn {
		padding: 15px 25px;
		margin-left: 20px;
	}
}
